/*Main CSS Stylesheet*/

#content {
	width:600px;
	margin:0 auto;
}

#chat-box-wrap {
	width:450px;
	height:400px;
	border: 1px solid gray;
}

#chat-box {
	padding:10px;
	overflow-y:scroll;
	height:380px;
}

input[type=text] {
	width:450px;
}