extends index

block head 
	link(href="/assets/js/lib/wysihtml5/website/css/editor.css", type="text/css", rel="stylesheet")
	link(href="/assets/js/lib/wysihtml5/website/css/stylesheet.css", type="text/css", rel="stylesheet")
	
	script(src="/assets/js/lib/wysihtml5/parser_rules/advanced.js")
	script(src="/assets/js/lib/wysihtml5/dist/wysihtml5-0.3.0.js")
	script(src="/assets/js/chat.js")
	script(src="/assets/js/join.js")

block content
	div(id="join" class="col-md-6 col-md-offset-3")
		div(class="col-md-3")
			img(src="http://demo.tutorialzine.com:1338/img/unnamed.jpg" alt="" class="img-circle user-avatar img-full")
		div(class="col-md-9")
			h1
				| Join the conversation
			form(id="user-join" method="post" action="/chat")
				div(class="form-group")
					input(class="form-control input-sm" type="text" name="nickname" value="Tom" placeholder="Choose a nickname" required)
				div(class="form-group")
					input(class="form-control input-sm" type="email" name="email"  value="signmeup@lazypixel.co.uk" placeholder="Enter your email address" required)
				div(class="form-group")
					button(class="btn btn-md btn-success")
						| Enter

	div(id="chat" class="col-md-10 col-md-offset-1")
		div(class="col-md-12")
			div(id="dialog" class="col-md-12")
			
		div(id="message-controls" class="col-md-12")

			<!-- WYSIWYG toolbar-->
			div(id="editor-toolbar")
				header
					ul(Class="commands")
						li(class="command" data-wysihtml5-command="bold" title="Make text bold (CTRL + B)")
						li(class="command" data-wysihtml5-command="italic" title="Make text italic (CTRL + I)")
						li(class="command" data-wysihtml5-command="insertUnorderedList" title="Insert an unordered list")
						li(class="command" data-wysihtml5-command="insertOrderedList" title="Insert an ordered list")
						li(class="command" data-wysihtml5-command="createLink" title="Insert a link")
						li(class="action" data-wysihtml5-command="insertImage" title="Insert an image")
						li(class="action" data-wysihtml5-action="change_view" title="Show HTML")
				
				div(data-wysihtml5-dialog="createLink" style="display: none;")
					input(data-wysihtml5-dialog-field="href" class="form-control input-sm" value="http://")
					a(data-wysihtml5-dialog-action="save" class="btn btn-sm btn-success") OK
					a(data-wysihtml5-dialog-action="cancel" class="btn btn-sm btn-warning") Cancel
				
				div(data-wysihtml5-dialog="insertImage" style="display: none;")
					input(data-wysihtml5-dialog-field="src" class="form-control input-sm" value="http://")
					a(data-wysihtml5-dialog-action="save" class="btn btn-sm btn-success") OK
					a(data-wysihtml5-dialog-action="cancel" class="btn btn-sm btn-warning") Cancel

			<!-- WYSIWYG editor-->
			form(id="message-form" method="post" action="/chat")
				div(class="form-group")
					textarea(id="editor" class="form-control input-sm" name="message" placeholder="Write something..." value="")
				div(class="form-group")
					button(class="btn btn-lg btn-primary")
						| Enter
	


