extends index

block head
	script(src='/chat.js')

block content

	#chat-box-wrap
		#chat-box
	#controls
		input#message(placeholder='Enter your message')
		input#send(type='button', value='Send Message')

	#sidebar 
		each kw in users
			li= kw