extends index

block head
	script(src='/assets/js/chat.js')

block content

	#row
		.col-md-8
			#chat-box-wrap
				#chat-box.highlight
			#controls
				textarea#message.highlight(placeholder='Enter your message')
				input#send(type='button', class='btn btn-success btn-lg pull-right', value='Send Message')

		.col-md-4
			#sidebar 
				ul#users
					#{people}