!!!
html
	head
		title= title
		link(href='/assets/reset.css', type='text/css', rel='stylesheet')
		link(href='/assets/style.css', type='text/css', rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/lib/jquery.min.js')
		script(src='/global.js')
		block head

	body
		#content			
			block content
