!!!
html
	head
		title='Real Chat - a real time chat app'
		link(href='/assets/reset.css', type='text/css', rel='stylesheet')
		link(href='/assets/style.css', type='text/css', rel='stylesheet')
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')

	body
		#content			
			block content
