extends index

block head
	script(src='/assets/js/join.js')


block content
	#welcome-box.jumbotron
		h1 Welcome to RandoChat!
		p RandoChat puts you in a chat with random users from around the globe.
		p
			a(class='btn btn-primary btn-lg' href='/modal' data-toggle='modal' data-target='#rc-modal') Get Started


block foot
	include modal