#rc-modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button(type='button', class='close', data-dismiss='modal' aria-hidden='true')&times;
				h4.modal-title #{modalTitle} 
			.modal-body
				if (modalPartial  == 'modal-join')
					include modal-join

			.modal-footer
				button.btn.btn-primary#join Join
				button.btn.btn-default(data-dismiss='modal') Close






