.row
	.col-md-12
		form#username-select(action='/chat', class='form-inline' role='form' method='POST')
			.row
				.col-md-12.form-group
					p Your current username is: 
					label(for='username' class='sr-only') TEST 
					input#username(name='username', type='text' class="form-control" placeholder='Enter your desired username')





